body {
  margin: 0;
  padding: 0;
  background-color: var(--color-white);
  font-family: sans-serif;
  line-height: 1.4;
  color: var(--color-body);
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
